.FRONT_NAVIGATION(style="text-align: center; padding-top: 20px")
    a(href="/", style="padding: 20px") main
    a(href="/", style="padding: 20px") 
    a(href="/", style="padding: 20px") 
    a(href="/", style="padding: 20px") 
    a(href="/", style="padding: 20px") 