// CSS
html {
    // --max-width: 1180px;
    // --header-mobile-height: 100px;
}


// SCSS

$max-width: 1180px;


//COLORS
// $color1: #fff;
// $color2: #E0E0E0;
// $color3: #C4C4C4;
// $color4: #6A6A6A;
// $color5: #3A2700;
// $color6: #000;
// $color7: #3B4D6B;
// $color8: #FEC34C;


// $font-color-main: $color6;
// $font-color-alt: $color1;
// $font-color-dark: $color5;
// $font-color-bright: $color8;

// $bg-color: $color1;
// $bg-color-main: $bg-color;
// $bg-color-alt: $color7;
// $bg-color-bright: $color8;


// SIZES


// FONTS

// $serif: 'Merriweather', serif;
// $sans-serif: 'Montserrat', sans-serif;

// $main-font-family: $sans-serif;

//screen sizes max
$xs: 479px;
$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1199px;

//screen sizes min
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;



