@import 
    "fonts",
    "var",
    "mixins",
    "extensions",
    "reset";

@import "modules/header";
@import "modules/nav";
@import "modules/footer";

@import "../components/buttons";
@import "../components/wrapper";

* {
    font-family: $main-font-family;
}

body {
    @include flex(col);
    position: relative;
    min-height: 100vh;
    // top: 0 !important;
    color: $main-font-color;

}

main {
    flex-grow: 1;
    background-color: $bg-color;
}

.icon {
    fill: transparent;
    stroke: $main-font-color;
}

